body {
    background: whitesmoke;
}

.container {
    background: orange;
    padding: 5%;
    width: 1000px;
    justify-content: center;
    margin:auto;
}
.pics_in_row {
    height: 100px;
    max-height: 100%;
    width: 100px;
    padding: 10px;
    display: flex
}

.below-imgs {
    display: flex;
    flex-direction: row;
    background-color: coral;
}

.showcase {
    height: 500px;
    width: 500px;
    padding:30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.showcase img {
    max-height: 80%;
    max-width: 80%;
    margin: auto;
    border: 2px solid black;
}
.pics_in_row img {
    max-height: 100%;
    border:2px solid black;
    padding: 8px;
    max-width: 80px;
}

h1 {
    margin-top: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}